.contactContainer,
.aboutUsContainer {
    grid-row-start: 3;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #FFFFFF;
    padding: 10px;
}

/* Mesmo estilo para os dois*/
.contactContainer > .row > .column > input[type=text],
.contactContainer > .row > .column > textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.contactContainer > .row > .column > input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

.contactContainer > .row > .column,
.aboutUsContainer > .row > .column {
    float: left;
    width: 60%;
    margin-top: 10px;
    padding: 30px;
}
