.contactContainer,
.aboutUsContainer {
    box-sizing: border-box;
}

/* Mesmo estilo para os dois*/
input[type=submit],
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}


input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

.contactContainer,
.aboutUsContainer {
    border-radius: 10px;
    background-color: #FFFFFF;
    padding: 10px;
}

.contactContainer .column,
.aboutUsContainer .column {
    float: left;
    width: 60%;
    margin-top: 10px;
    padding: 30px;
}
