body {
    width: 75%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto auto auto;
}

nav>ul {
    display: flex;
}

header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto auto auto;
}

header img {
    grid-column: 1;
    grid-row: 1;
}

header h1 {
    grid-column: 2;
    grid-row: 1;
    text-align: center;
}

header div {
    grid-column: 3;
    grid-row: 2;
}

#menu {
    grid-row: 2;
}

#menu>ul>li {
    width: 100%;
    font-family: 'Georgia';
    font-weight: 700;
    text-align: center;
}

.property {
    text-align: center;
    grid-row: 3;
    padding: 10px;
    background-color: #DEDEDE;
    margin-bottom: 1%;
}

.property article {
    padding: 5%;
    margin-left: 5%;
    margin-right: 5%;

}

.property ul {
    list-style: none;
    padding-inline-start: 0px;
}


.property img {

    border: 1px solid #FFFFFF;
}

.property input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    width: 100px;
    cursor: default;
    text-align: center;
}

.information,
.extras,
.dates,
.totalPrice {
    margin-top: 3em;

    padding: 1em;
    border: 5px solid grey;
    text-align: center;
    margin-bottom: 3em;
}

.information p,
.extras p {
    text-align: center;
}