@import url("user.css");
@import url("contacts.css");
@import url("feed.css");
@import url("layout.css");
@import url("sign.css");

:root {
    --main-color-dark: #2A2F33;
    --main-color-1: #046DD5;
    --main-color-2: #F4655F;
    --main-color-3: #F9EAC3;

    --section-color-1: #E1493E;
    --section-color-2: #8ABA56;
    --section-color-3: #5B4282;
    --section-color-4: #FF8932;
    --section-color-5: #19B6E9;
    --section-color-6: #E84C8B;
    --section-color-7: #654321;
    --section-logocolor-1: #ECE6E2;

}

body {
    background-color: #416788;

}



body>header {
    background-color: var(--section-logocolor-1);
    color: white;
    font-family: 'Montserrat';
    padding: 1em;
    margin: 0;
    border-radius: 0.3em;
}



body>header a {
    color: var(--main-color-dark);
    text-decoration: none;

}

#signup a:first-child::after {
    content: '';
    margin: 0 1em;
    border-right: 1px solid var(--main-color-dark);
}

#menu {

    grid-column-start: 1;
    grid-column-end: auto;
    grid-row-start: 2;
    grid-row-end: auto;
}

#menu>ul {

    list-style: none;
    padding: 0;
    margin: 10 auto;
    border-style: solid;
    border: 3px solid var(--section-logocolor-1);
    border-color: var(--section-logocolor-1);
    border-radius: 0.3em;
}

#menu>ul>li {
    pointer-events: none;
    font-family: 'Georgia';
    font-size: 20px;
    width: 100%;
    font-weight: 700;
    text-align: center;
    background-color: #EDEFF0;
    border-style: solid;
    border: 1px solid var(--section-logocolor-1);
    border-color: var(--section-logocolor-1);


    padding: 1em;
}


#menu>ul>li:hover {
    background: #DFC7C1;
}

#menu>ul>li>a:hover {
    color: white;
}

#menu>ul>li>a {
    pointer-events: auto;
    color: black;
    text-decoration: none;
}

footer {
    border-radius: 0.3em;
    margin-top: 1em;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 4;
    background-color: var(--section-logocolor-1);
}

.register,
.loginContainer {
    background-color: #FFFFFF;

}

.register form,
.loginContainer form {
    padding: 1em;
    text-align: center;
    margin: auto auto;

}

.register input[type=text],
.register input[type=password],

.loginContainer input[type=text],
.loginContainer input[type=password] {

    margin: 15px 15px;
    background: #FFFFFF;

}

.register label,
.loginContainer label {
    width: 300px;
    text-align: right;
    display: inline-block;
}

.rents {
    padding: 1em;
    display: grid;
    grid-template-columns: 49% 49%;
    grid-template-rows: auto;
    border-style: double;
    border-width: 2%;
    border-radius: 0.5em;
    border-color: #d3d3d3;
    background-color: #FAFAFA;
}

.owns {
    padding: 1em;
    grid-column: 1;
    border-right: 2px solid #d3d3d3;

}

.rented {
    padding: 1em;
    grid-column: 2;
    border-left: 2px solid #d3d3d3;
}

.owns h1,
.rented h1 {
    text-align: center;
    margin-top: 1em;
    border-radius: 0.2em;
    color: black;

}


form .hint {
    font-size: 0.6em;
    padding: 0.5em;
    align-self: center;
    visibility: hidden;
    display: none;
}

form input.invalid {
    border: 1px solid red;
    box-shadow: red 0 0 2px 2px;
}

form input.invalid+.hint {
    display: contents;
    visibility: visible;
}

.contactContainer,
.userprofile,
.aboutUsContainer,
.register,
.loginContainer,
.rents {
    grid-row: 3;
    font-size: 18px;

}

.property {
    text-align: center;
    grid-row: 3;
    padding: 10px;
    background-color: #ECECEC;
    margin-bottom: 1%;
    -webkit-box-shadow: 8px 7px 20px 0px rgba(0, 0, 0, 0.56);
    -moz-box-shadow: 8px 7px 20px 0px rgba(0, 0, 0, 0.56);
    box-shadow: 8px 7px 20px 0px rgba(0, 0, 0, 0.56);
    border-radius: 1em;
}

.property article {
    padding: 5%;
    margin-left: 5%;
    margin-right: 5%;

}

.property ul {
    list-style: none;
    padding-inline-start: 0px;
}


.property img {

    margin-top: 2em;
    border: 1px solid #FFFFFF;
}

.property input[type=submit] {
    background-color: #4CAF50;
    border-radius: 0.5em;
    color: white;
    padding: 12px 20px;
    width: 100px;
    cursor: default;
    text-align: center;
}

input[type=submit]:hover,
input[type=button]:hover {
    background-color: #006233;
    color: white;
}

.dates {
    margin: auto auto;
    width: 25%;
    padding: 1em;

}

.information,
#totalPrice>h2 {
    margin: auto auto;
    margin-top: 1em;
    padding: 1em;
    width: 75%;
    text-align: center;
    margin-bottom: 1em;
    -webkit-box-shadow: 2px 2px 13px 0px rgba(0, 0, 0, 0.56);
    -moz-box-shadow: 2px 2px 13px 0px rgba(0, 0, 0, 0.56);
    box-shadow: 2px 2px 13px 0px rgba(0, 0, 0, 0.56);
    border-radius: 1em;
}

.extra {
    border-top: 1px dotted grey;
}


.rents a {
    text-decoration: none;
    color: black;
}

#editRents {
    border-radius: 0.2em;
    color: #1d4769;
    font-size: 20px;
}

#editRents:hover {
    background: #1d4769;
    color: white;
}

.tourist>p>a,
.rented p a {
    color: #77bcb9
}

.tourist>p>a:hover,
.rented p a:hover {
    background: #77bcb9;
    color: white;
}

.rents a:hover {
    color: #89AEB2;
}

.propertyInfo,
.rentInfo {
    padding: 1em;
    border-radius: 0.5em;
    background-color: #ECECEC;
    -webkit-box-shadow: 10px 10px 42px -30px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 42px -30px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 42px -30px rgba(0, 0, 0, 0.75);
    margin-bottom: 1em;
}

.rent {
    padding: 0.5em;
    margin-top: 1em;
}

.color p {
    display: none;
}

.usernameContainer form {
    color: black;

}

.usernameContainer form>input {
    background: #DFC7C1;
    border-radius: 0.3em;
}

.usernameContainer form>input:hover {
    background: white;
    color: #DFC7C1;
}

ul.active li {
    transform: translateY(-30px);
}

.addProperty {
    border-radius: 0.2em;

    background: #eeeeee;
}

.feedback {
    margin: auto auto;
    width: 75%;
    border-radius: 49px 0px 51px 0px;
    -webkit-border-radius: 49px 0px 51px 0px;
    -moz-border-radius: 49px 0px 51px 0px;
    border: 20px double #ECECEC;
    background: #FFFFFF;
}

#sendButtonUserErrorMsg {
    display: block;
    margin: auto auto;
    border-radius: 0.2em;
    margin-top: 10px;
    width: 25%;
    background: #b61d2c;
    color: white;
    padding: 1em;
}