.userprofile {
    grid-row-start: 3;
    box-sizing: border-box;
	padding: 4em;
    background-color: #FFFFFF;
}

.userprofile > .profile_photo > img {
	text-align: left;
	border-radius:50%;
	padding:1em;
}

.userprofile > .profile_photo > input[type=file],
.userprofile > .profile_photo > label[for=picture] {
	width: 50%;
	padding: 2px;
	margin-top: 2px;
	margin-bottom: 15px;
}

.userprofile > * > input[type=text],
.userprofile > * > select,
.userprofile > * > textarea {
	width: 100%;
    padding-top: 1em;
	padding-bottom: 1em;
    border: 1px solid #ccc;
    margin-top: 5px;
    margin-bottom: 15px;
    resize: vertical;
}

.userprofile > .description > input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}
